@{
    ViewBag.Title = "Home Page";
}
<h3>Tutorial Carrito de Compras con MVC y Entity Framework</h3>
<ol class="round">
    <li class="one">
        <h5>Creacion de BD</h5>
        Crearemos la Base de Datos en MS SQL Server la cual nos servira para lo largo del tutorial.
    </li>

    <li class="two">
        <h5>Creación de Controladores y Métodos</h5>
        Se creará el proyecto en VS 2012 y se elaboraran los controladores y sus vistas necesarios para que nuestro carrito de compras tenga
        la funcionalidad correcta.
    </li>

    <li class="three">
        <h5>Login</h5>
        Se creará un login de usuario con "Form Authentication" incorporado en MVC asi como la funcionalidad de logueo externo con Google, Facebook y Twitter.
    </li>
    <li class="four">
        <h5>Que Usaremos en este Tutorial.</h5>
        <ol>
            <li>Entity Framework</li>
            <li>Visual Estudio 2012</li>
            <li>MS SQL Server 2012</li>
            <li>JQuery</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>C#</li>
            <li>MVC</li>
        </ol>
    </li>
</ol>